<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{36} - %replace(%replace(%msg){'(?i)(Bearer\s+)[A-Za-z0-9._\-]+', '$1***'}){'(?i)("?(?:password|refreshToken|accessToken|token)"?\s*[:=]\s*"?)[^",\s]+', '$1***'}%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
